# Kafka root
KAFKA_HOME=${KAFKA_HOME:-"/opt/kafka_2.11-0.9.0.1"}
# ZooKeeper instances
ZK_LIST="zks1:2181,zks2:2181,zks3:2181"
# ZooKeeper docker root path
ZK_DOCKER_ROOT="/dockerized"
# This distribution list is notified on events
MAILLIST="devopslist@example.com"
# How much time is taken before the next attempt to poll partition re-assignment status
POLLINTERVAL="100"
# How much time is taken before an attempt to contact a freshly added broker
BROKERTIMEOUT="10"
# Broker config file name template
#PROPFILEFORM="/etc/kafka03%d.properties"
PROPFILEFORM="/etc/kafka.properties"
# Docker-compose configuration root
DOCKER_COMPOSE_CONF=/root/k/%s
# docker-compose template root
#DOCKER_COMPOSE_TEMPLATE="${DOCKER_COMPOSE_CONF}/docker-compose-%s.yml"
DOCKER_COMPOSE_TEMPLATE="${DOCKER_COMPOSE_CONF}/docker-compose.yml"
# Scale file, may contain virthost ip
DOCKER_COMPOSE_SCALE="${DOCKER_COMPOSE_CONF}/scale.kafka"
# Docker image tag for the kafka cluster containers
DOCKER_IMAGE_TAG="k_kafka"
# The dockerd socket to access, used by the tools
DOCKERSOCK="%s:2376"
#DOCKERSOCK="unix://var/run/docker.sock"
####################################################
# Below follows the INITIAL virthosts configuration
###################################################
# Defaults, in case no specific values are provided
VIRTHOST_DEFAULT_ADVERTISED_HOSTNAME="10.211.55.28" 
VIRTHOST_DEFAULT_INITIAL_SCALE="3"

# Comma-separated lists of addresses for target virtual hosts, with docker-engine running on them
VIRTHOSTS="0.0.0.0"
VIRTHOST_0_0_0_0_ADVERTISED_HOSTNAME="10.211.55.1" 
VIRTHOST_0_0_0_0_INITIAL_SCALE="3"
