#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="http://mirror.yandex.ru/centos/7/os/x86_64/"
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=centos

# Root password
rootpw --iscrypted $6$BWe/QgtjluM0Eak4$r5ATxzy.yopsifEPdxTprB/rsTgz0yZw.avZGay.dWdXPBmJacwAuRc6z5J47njk95yshv6Z1UIjmz3W75Q4r.
# Do not configure the X Window System
skipx
# System timezone
timezone Europe/Moscow --isUtc
user --groups=wheel --name=user --password=$6$OSBM/1v8s9ZlKA8/$.yh9WNLE.nKjJoP9mHY4q72OulBhQqlB79nlWpmQZUvkzp9bhzzvcr7TU15PgTUq3eoI/MFKdaAt2keWqQ08U/ --iscrypted --gecos="User"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=plain
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
